.none {
    display: none !important;
}

body {
    background: #EFF0F4;
    font-family: sans-serif;
}

p {
    margin: 0 0 5px;
}

.article {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 600px;
    margin: 0 0 5px;
    padding: 3px 5px;
    font-weight: bold;
    color: #000000;
}

.news__author {
    color: #767676;
}

.news__count {
    margin: 10px 0 0 0;
    display: block;
}

.news__big-text {
    color: #000000;
    font-weight: normal;
}
